@import './../../../styles/variables';

.slick-slider {
  text-align: center;
  //position: relative;
}

.slick-track {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 40px -10px rgba(0,0,0,0.6);
  margin: 1em 0;

  @include breakpoint(map-get($breakpoints, medium)) {
    margin: 0;
    background: transparent;
  }
}
.slick-dots {
  bottom: -35px;
  margin: 0;

  li {
    margin: 0;
  }
}
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: auto;
  width: auto;
  border: 1px solid #2c2c2c;
  background: transparent;
  border-radius: 2em;
  margin:0;
  line-height: 2.5;
  padding: 0 1em;
  font-size: 0.875em;
  cursor: pointer;
  top: initial !important;
  bottom: 1.5em;
  outline: inherit;
  min-width: 5em;
  left: 50%;
  transform: translateX(-50%);

  &:before {
    font-size: 1em;
    color: #2c2c2c;
    font-family: Univers Pro\ 45 Light,Arial,sans-serif;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    line-height: 2;
  }

  &:hover, &:focus {
    background: #2c2c2c;

    &:before {
      color: $white;
    }
  }

  &.slick-disabled {
    display: none !important;
  }
}

.slick-prev {
  left: initial;
  display: none !important;
  &:before {
    content: 'Forrige';
  }
}
.slick-next {
  right: initial;
  display: none !important;
  &:before {
    content: 'Neste';
  }
}


.SlideNavigation {
  position: absolute;
  bottom: 1.5em;
  transform: translateX(-50%);
}
