@import './../../variables';

.HelpBubble {
  border-radius: 50%;
  background: $cloud-blue;
  box-shadow: 0 20px 30px rgba(0,0,0,0.15);
  width: 5em;
  height: 5em;
  position: relative;
  border: 1px solid $light-blue;

  &--middle {
    margin: 0 auto;
  }
  &--overflow {
    overflow: hidden;
  }
  &-label {
    position: absolute;
    top: .5em;
    right: -2em;
    background: $dark-blue;
    color: $white;
    font-size: 0.75em;
    border-radius: .75em;
    display: inline-block;
    padding: .25em .75em;

    &--name {

    }
    &--save {
      background: red;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99;
    }
  }
  &-paper {
    background: white;
    width: 10em;
    height: 10em;
    position: absolute;
    top: 30%;
    left: 25%;
  }

  @include breakpoint(map-get($breakpoints, medium)) {
    width: 6.5em;
    height: 6.5em;
  }
}
