@import './../../styles/variables';

.mainContainer {
  padding-top:20px;
}

.MainHeader {
  height: 60px;
  background: $white;
  //box-shadow: 10px 5px 2px 4px rgba(0,0,0,0.2);
  padding: 0 10px;
}
