@model dynamic


<h2>PDF</h2>
<button onclick="loadDoc()"></button>

<script>
    function loadDoc() {
        var xhttp = new XMLHttpRequest();
        //xhttp.onreadystatechange = function() {
        //  if (xhttp.readyState == 4 && xhttp.status == 200) {
        //    document.getElementById("demo").innerHTML = xhttp.responseText;
        //  }
        //};
        xhttp.open("GET", @Html.ActionLink("", "Pdf", new {path = @"Http:\\help.no"}), true);
        xhttp.send();
    }
</script>