$white: #fff !default;
$text-color: #333 !default;
$light-blue: #dde8e9 !default;
$light-green: #336d79 !default;
$teal: #004759 !default;
$dark-blue: #004758 !default;
$heading-color: $teal;
$grey: #aaa !default;

$section-background: $dark-blue;

$border-radius-base:        3px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

/* Colors */
// brands
$primary-color: #c4341f !default;
$success-color: #79b21f !default;
$error-color: $primary-color !default;

/* Spacing */
$spacing-default: 1rem !default;
$spacing-bottom: $spacing-default !default;

/* Forms */
$input-bg: $white !default;
$input-border-color: $grey !default;
$input-border-width: 1px !default;
$input-padding: .75rem !default;
$input-bg-disabled: $light-blue !default;
