@import './../../styles/config';

.Help-FormGroup {
  margin-bottom: $spacing-bottom;
  &.is-invalid {
    label {
      color: $error-color;
    }
    input, select {
      border-color: $error-color;
    }
  }
  .validation-message {
    padding: .25rem .5rem;
    display: inline-block;
    background: lighten($error-color, 45);
  }
}
//.oc-FormComponentError {
//  padding: 1rem;
//  border: 1px solid $border-color;
//  p {
//    background: $error-color;
//    color: $white;
//    padding: .5rem;
//  }
//  table {
//    width: 100%;
//    text-align: left;
//    th {
//      font-size: 0.875em;
//      padding-bottom: .25rem;
//      border-bottom: 1px solid $border-color;
//    }
//    td {
//      padding: .25rem 0;
//    }
//  }
//}
