@import '../config';

.Help-InputGroup {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
  //margin-bottom: 1rem;
  > * {
    display: table-cell;
    margin-bottom: 0;
  }
}
