@import './../../variables';

button {
  border: 1px solid $dark-blue;
  background: transparent;
  border-radius: 2em;
  margin:0;
  line-height: 2.5;
  padding: 0 1em;
  color: $dark-blue;
  font-size: 0.875em;
  cursor: pointer;
  transition: all .2s;

  &:hover, &:focus {
    background: $dark-blue;
    color: $white;
  }

  @include breakpoint(map-get($breakpoints, medium)) {
    font-size: 1em;
  }
}

.ActionButton {
  border-radius: 4px;
  border: none;
  background: $white;
}

.StepButton {
  min-width: 7em;
  margin: 1em auto 0 auto;
  line-height: 3;

  &-action {
    background: $dark-blue;
    color: $white;

    &:hover, &:focus {

    }
  }
}

.AddButton {
  > * {
    transition: all .25s;
  }
  &-text {
    font-family: $font-roman;
    font-size: .875em;
    transition: text-decoration .2s;

    @include breakpoint(map-get($breakpoints, medium)) {
      font-size: 1.25em;
    }
  }

  .Icon {
    span {
      font-size: 1.25em;
      font-family: $font-light;
      margin-top: -.15em;
    }
  }

  &:hover, &:focus {
    //.Icon {
    //  background: $dark-green;
    //
    //  span {
    //    color: $white;
    //  }
    //}

    .AddButton-text {
      text-decoration: underline;
    }
  }

}
