@import './../../styles/variables';

.ContractHeader {
  height: 12em;

  @include breakpoint(map-get($breakpoints, small-high)) {
    height: 22em;
  }

  @include breakpoint(map-get($breakpoints, medium)) {
    height: 28em;
  }

  &-title {
    margin-bottom: 0;
    font-size: 2em;
    font-family: $font-light;
  }

  &-top {
    //padding: 0 20%;
    //
    //@include breakpoint(map-get($breakpoints, small-mid)) {
    //  padding: 0 30%;
    //}
    //
    @include breakpoint(map-get($breakpoints, small-high)) {
      h1 {
        font-size: 3em;
      }
    }

    @include breakpoint(map-get($breakpoints, medium)) {
      h1 {
        font-size: 4.5em;
      }
    }
    //
    //@include breakpoint(map-get($breakpoints, medium-mid)) {
    //  padding: 0 40%;
    //}
    //
    //@include breakpoint(map-get($breakpoints, large)) {
    //  padding: 0 38%;
    //}
  }

  &-controls {
    display: none;

    @include breakpoint(map-get($breakpoints, small-high)) {
      display: block;
      max-width: 400px;
      margin: 2em auto;
    }

    button {
      width: 192px;
    }
  }

  &-plus {
    font-size: 1.875em;
    font-family: $font-light;
    margin-top: -.25em;
    color: $dark-blue;
    user-select: none;

    @include breakpoint(map-get($breakpoints, medium)) {
      font-size: 2.25em;
    }

    @include breakpoint(map-get($breakpoints, large)) {
      font-size: 3em;
    }
  }

  &-bottom {
    padding: 0 2em;
    font-family: $font-serif;

    @include breakpoint(map-get($breakpoints, small-mid)) {
      padding: 0 20%;
    }
    @include breakpoint(map-get($breakpoints, small-high)) {
      padding: 0 24%;
      font-size: 1em;
    }
    @include breakpoint(map-get($breakpoints, medium)) {
      padding: 0 30%;
      font-size: 1.25em;
    }

    @include breakpoint(map-get($breakpoints, large)) {
      padding: 0 34%;
    }

    p {
      margin: .5em 0 0 0;
    }
  }
}
