@import './../variables';

#mfPreviewBar {
  display: none;
}

body {
  background: $body-bg;
}
.Container {
  margin: 0 auto;
  max-width: 80em;
  height: 100%;

  &-inner {
    padding: 0 10px;
    height: 100%;

    @include breakpoint(map-get($breakpoints, medium)) {
      padding-top: 2rem;
      height: auto;

      &-inner {
        height: auto;
      }
    }
  }
}

.OffsetGrid {
  margin: 0 -10px;
}
