@import './../config';

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 2rem;
  color: $heading-color;
  font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
  font-size: 4.5em;
  font-weight: 300;

  &.title {
    color: $white;
  }
}
h2 {
  font-size: 3.250em;
  font-weight: 300;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.250em;

  &.Lesser {
    color: $text-color;
  }
}

.Ingress {
  font-size: 1.375em;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 4rem;
  max-width: 35rem;
}
